
<div flex class="gridList">
    <md-grid-list   md-cols-sm="1" md-cols-md="2" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="4:3" md-gutter="8px" md-gutter-gt-sm="4px" >
        <md-grid-tile ng-repeat="item in post_array" md-rowspan="{{item.span.row}}" md-colspan="{{item.span.col}}" md-colspan-sm="1" ng-class="item.background" ng-click="goToPageSubPost(item.parent_url, item.url)">
            <img ng-src="{{item.image}}" class="md-avatar" alt="{{item.name}}" />
            <md-grid-tile-footer><h3>{{item.name}}</h3></md-grid-tile-footer>
        </md-grid-tile>
    </md-grid-list>
</div>