
header{
    min-height: 64px;
    background-color: #009688;
}
md-toolbar {
    background-color: #00897B;
    color: #E0F2F1;
}

header img {
    border-radius: 50%;
    width: 160px;
    margin: 16px auto;
    height: 160px;
    display: block;
}
header h2 {
    font-size: 1.250em;
    font-weight: 400;
    margin-bottom: 20px;
    color: rgb(255,255,255);
    text-align: center;
}
header a {
    display: block;
    width: 100%;
    height: inherit;
    text-decoration: none;
}
#content header{
    padding: 50px;
    font-size: 1.5em;
}
#content header{
    padding: 50px;
    margin-bottom: 15px;
}
.row-text{
    padding: 25px 5%;
}
.gridList h3 {
    font-size: 22px;
}
.gridList md-grid-list {
    cursor: pointer;
}
.gridList .gray {
    background: #f5f5f5;
}
.gridList .green {
    background: #b9f6ca;
}
.gridList .yellow {
    background: #ffff8d;
}
.gridList .blue {
    background: #84ffff;
}
.gridList .darkBlue {
    background: #80d8ff;
}
.gridList .deepBlue {
    background: #448aff;
}
.gridList .purple {
    background: #b388ff;
}
.gridList .lightPurple {
    background: #8c9eff;
}
.gridList .red {
    background: #ff8a80;
}
.gridList .pink {
    background: #ff80ab;
}